:where(.css-dev-only-do-not-override-12upa3x).ant-tabs > .ant-tabs-nav .ant-tabs-nav-wrap,
:where(.css-dev-only-do-not-override-12upa3x).ant-tabs
  > div
  > .ant-tabs-nav
  .ant-tabs-nav-wrap {
  justify-content: center;
}

.form-search-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #d9d9d9;
  color: rgba(0, 0, 0, 0.25);
  font-size: 16px;
  line-height: 22px;
  border-radius: 4px;
}

.form-search-input:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

.tabs-list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding: 14px;
  gap: 8px;
}

.tabs {
  border: 0;
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
}

.tabs:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.tabs:active {
  background-color: rgba(0, 0, 0, 0.4);
}
