:where(.css-dev-only-do-not-override-12upa3x).ant-tabs > .ant-tabs-nav .ant-tabs-nav-wrap,
:where(.css-dev-only-do-not-override-12upa3x).ant-tabs
  > div
  > .ant-tabs-nav
  .ant-tabs-nav-wrap {
  justify-content: center;
}

.tabs-list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 8px;
}

.navbar-form-container {
  display: flex;
  align-items: center;
  padding: 12px;
  justify-content: space-between;
}

@media (max-width: 650px) {
  .navbar-form-container {
    flex-direction: column;
    gap: 12px;
  }
}
